[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.23"

rpc_endpoints = { mainnet = "https://eth.llamarpc.com" }

# See more config options https://github.com/gakonst/foundry/tree/master/config

[fmt]
line_length = 120
tab_width = 4
bracket_spacing = false
int_types = "long"
func_attrs_with_params_multiline = false
quote_style = "double"
number_underscore = "thousands"
multiline_func_header = "params_first"
single_line_statement_blocks = 'preserve'
variable_override_spacing = true
wrap_comments = false
ignore = []

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
